.slide {
  background-color: @color1;
  color: @color2;
  font-family: @font-family;
}

.profile {
  img {
    border-radius: 50%;
  }
}

.family {
  img {
    border: 0.1em solid @color2;
    max-width: 60%;
    max-height: 60%;
  }
}

.media {
  img {
    border: 0.1em solid @color2
  }
}

.end-card {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.bottom-left {
  position: fixed;
  left: 3em;
  bottom: 3em;
  text-align: left;
  color: @color4;
}
